[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ald"]
	path = ald
	url = https://github.com/cran/ald
[submodule "endtoend"]
	path = endtoend
	url = https://github.com/cran/endtoend
[submodule "hopbyhop"]
	path = hopbyhop
	url = https://github.com/cran/hopbyhop
[submodule "lqr"]
	path = lqr
	url = https://github.com/cran/lqr
[submodule "MomTrunc"]
	path = MomTrunc
	url = https://github.com/chedgala/momtrunc
[submodule "Opportunistic"]
	path = Opportunistic
	url = https://github.com/chedgala/opportunistic
[submodule "qrLMM"]
	path = qrLMM
	url = https://github.com/cran/qrLMM
[submodule "qrNLMM"]
	path = qrNLMM
	url = https://github.com/cran/qrNLMM
